body{
    font-family: "Montserrat", sans-serif;
    height: 100vh;

    background-color: black;
    background-image: url(img/IMG_9738.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(15px);
}
.title {
    margin: auto;
    text-align: center;
    align-items: center;
    display: block;
    color: #9BA8AB;
}
.card {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 0.02px;

    color: #CCD0CF;
    text-align: center;
}
.cardd{
    color: #9BA8AB;
}
.penis{
    display: inline-flex;
    margin-top: 5%;
    margin-bottom: 2%;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom:0;
    padding-top: 10px;
    text-align: center;
    width: 99%;
    height: 9%;
    
}
.pai{
    border: 0px;
    text-align: center;
    background-color: #0000;
    color: #9BA8AB;
    transition: transform ease 0.2s, box-shadow ease 0.2s, background-color ease 0.2s;
}
.pai:hover{
    transform: translate(0, -3px);
}
